<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="<%= settings.default_encoding %>">
    <title>File Uploader</title>
    <meta name="description" content="A simple way to upload files to a computer. Handy when you don't have a USB drive.">
    <meta name="author" content="Sean Eshbaugh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.fileupload.js"></script>
    <script src="/javascripts/tmpl.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <link href="/humans.txt" rel="author">
</head>
<body>
    <%= yield %>
</body>
</html>
